/* CSS Styles*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
#wrapper{
    max-width:1200px;
    padding:1em;
}

p,h1,h2,h3,h4{
    margin-bottom: 1em;
}

h1,h2,h3,h4{
    font-weight: bold;
}

.site-header{
    display:flex;
    justify-content: space-between;
}

.show-menu{
    background-color: transparent;
    border:none;
}

.search-programs{
    min-height: 8ems;
    border:solid 1px #ccc;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.banner{
    padding:2em;
    padding-top: 4em;
    background: url("images/Queen\ college\ .jpeg") no-repeat center left/cover;
    margin-bottom: 2em;
}

.banner h3{
    background-color:lightskyblue;
    padding: 1em;
    font-size: 2rem;
    line-height: 1.5em;
    color:aliceblue;
}

.banner h3 a{
    color:aliceblue;
    text-decoration: none;
}

.events-item img{
    width:100%;
}

/* temp */ 

.programNav li{
    position:relative;
    background-color:lightskyblue;
    border-radius: 5px;
    margin-bottom: 1em;
}

.programNav li a{
    display:block;
    color:black;
    text-decoration: none;
    padding:0.5em;
}

.material-symbols-outlined{
    float: right;
}

.dropdown{
    display: none;
}

.programNav .dropdown li{
    background-color: lightskyblue;
    margin-bottom:0;
    border-bottom:solid 1px #000;
}

.dropdown li:hover{
    background-color:rgb(145, 194, 211);
}

.programNav li:hover .dropdown{
    display:block;
}

@media (min-width:768px){

    .menu{
        display:none;
    }

    #topMenu{
        display:flex;
        border:none;
        position:static;
    }

    #topMenu ul{
        display:flex;
    }

    #topMenu li{
        margin-right:1em;
    }
/* horizontal progam menu*/
    .programNav ul{
        display:flex;
        justify-content: space-between;
    }

    .programNav ul li{
        width:32%;
        position:relative;
    }

    .programNav ul li:hover{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .programNav .dropdown{
        display:none;
        position: absolute;
    }

    .dropdown{
        display:none;
        position:absolute;
        width:100%;
    }

    .programNav .dropdown li{
        width:100%;
    }

    .programCards{
        display:grid;
        grid-template-columns: repeat(auto-fill,285px);
        grid-gap:20px;
    }

    .menu{
        display:none;
    }
} /* closing media query */

/*category pages*/

.programCards a{
    text-decoration:none;
    display:block;
    border:solid 1px cornflowerblue;
    border-radius: 10px;
    transition-property: box-shadow, transform;
    transition-duration: 0.5s;
}

.programCards a:hover{
    background-color:rgb(124, 182, 184);
    box-shadow: (5px,5px,5px rgb(78, 123, 207));
    transform:scale(1.1);
}

.card img{
    width:100%;
    border-radius: 10px 10px 0 0;
}

.card h2,.card h3,.card p{
    text-decoration: wavy;
    color: cadetblue;
}

.card h3{
    text-transform: uppercase;
    margin-bottom: 0;
}

.card h2{
    font-size:1.4em;
    font-weight: bold;
}

.programCards a{
    text-decoration: none;
    display: block;
}

.programCards a:hover{
    background-color: blanchedalmond;
}

.cardBody{
    padding: 1em;
}









/*for Screens 768px and up*/



